
*.dll
*.pdb
*.cache
*.config
*.exe
*.exe
*.targets
*.nupkg
*.rsp
*.eot
*.svg
*.svg
*.ttf
*.woff
DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MatchDataAPI/bin/Microsoft.AI.DependencyCollector.xml
MatchDataAPI/bin/Microsoft.AI.ServerTelemetryChannel.xml
MatchDataAPI/bin/Microsoft.AI.Web.xml
MatchDataAPI/bin/Microsoft.AI.WindowsServer.xml
MatchDataAPI/bin/Microsoft.ApplicationInsights.xml
MatchDataAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
MatchDataAPI/bin/Newtonsoft.Json.xml
MatchDataAPI/bin/System.Net.Http.Formatting.xml
MatchDataAPI/bin/System.Web.Helpers.xml
MatchDataAPI/bin/System.Web.Http.Cors.xml
MatchDataAPI/bin/System.Web.Http.WebHost.xml
MatchDataAPI/bin/System.Web.Http.xml
MatchDataAPI/bin/System.Web.Mvc.xml
MatchDataAPI/bin/System.Web.Optimization.xml
MatchDataAPI/bin/System.Web.Razor.xml
MatchDataAPI/bin/System.Web.WebPages.Deployment.xml
MatchDataAPI/bin/System.Web.WebPages.Razor.xml
MatchDataAPI/bin/System.Web.WebPages.xml
MatchDataAPI/obj/Debug/MatchDataAPI.csproj.FileListAbsolute.txt
MatchDataAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MatchDataAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MatchDataAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Models/obj/Debug/Models.csproj.FileListAbsolute.txt
Models/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Models/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Models/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/bootstrap.3.0.0/content/Content/bootstrap.css
packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
packages/jQuery.1.10.2/Tools/common.ps1
packages/jQuery.1.10.2/Tools/install.ps1
packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
packages/jQuery.1.10.2/Tools/uninstall.ps1
packages/Microsoft.ApplicationInsights.2.2.0/lib/net40/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/net45/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/net46/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/netstandard1.5/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net40/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net45/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net40/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net45/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net40/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net45/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Tools/install.ps1
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.AspNet.Cors.5.2.7/.signature.p7s
packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.7/.signature.p7s
packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/netstandard2.0/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Core.5.2.7/.signature.p7s
packages/Microsoft.AspNet.WebApi.Core.5.2.7/Content/web.config.transform
packages/Microsoft.AspNet.WebApi.Core.5.2.7/lib/net45/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.Cors.5.2.7/.signature.p7s
packages/Microsoft.AspNet.WebApi.Cors.5.2.7/lib/net45/System.Web.Http.Cors.xml
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ApiDescriptionExtensions.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/App_Start/HelpPageConfig.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Controllers/HelpController.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/HelpPage.css.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/HelpPageAreaRegistration.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/HelpPageConfigurationExtensions.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/CollectionModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ComplexTypeModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/DictionaryModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/EnumTypeModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/EnumValueDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/IModelDocumentationProvider.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/KeyValuePairModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ModelDescriptionGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ModelNameAttribute.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ModelNameHelper.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ParameterAnnotation.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ParameterDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/SimpleTypeModelDescription.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Models/HelpPageApiModel.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleKey.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/ImageSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/InvalidSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/ObjectGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/SampleDirection.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/TextSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/_ViewStart.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/Api.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/CollectionModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ComplexTypeModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/DictionaryModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/EnumTypeModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/KeyValuePairModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ModelDescriptionLink.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/SimpleTypeModelDescription.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/Index.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/ResourceModel.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Shared/_Layout.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/XmlDocumentationProvider.cs.pp
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.xml
packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/content/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/content/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/tools/install.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/tools/uninstall.ps1
packages/Microsoft.Net.Compilers.1.3.2/build/Microsoft.Net.Compilers.props
packages/Microsoft.Net.Compilers.1.3.2/ThirdPartyNotices.rtf
packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Install.ps1
packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Uninstall.ps1
packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psd1
packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psm1
packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
packages/Modernizr.2.6.2/Tools/common.ps1
packages/Modernizr.2.6.2/Tools/install.ps1
packages/Modernizr.2.6.2/Tools/uninstall.ps1
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/tools/install.ps1
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
.vs/config/applicationhost.config
*.config
*.config
